html {
  scroll-behavior: smooth;
}

body,
section,
h1 {
  margin: 0;
}
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu a {
  display: block;
  flex: 0 1 100px;
}
#accueil {
  background-color: #cdb4db;
}
#galerie {
  background-color: #ffc8dd;
}
#inscription {
  background-color: #ffafcc;
}
#video {
  background-color: #bde0fe;
}
#tableau {
  background-color: #b0d9ff;
}
#pied-de-page {
  background-color: #a2d2ff;
}
